body {
    background-color: rgb(255, 231, 153);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
ul { 
    display: table;
    margin: 0 auto;
}
li { 
    text-align:left;
    font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.boxes { /* Gabe: Inspiration gotten from Mark's sample page. */
    background-color: rgba(255, 255, 255, 0);
    padding: 40px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    text-align: center;
}
#sobablock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 7px;   
    border-radius: 12px;
    background-color: rgb(214, 181, 241);
    padding: 10px; 
    width: 80px;
    height: 25px;
}
.img-circle {
    border-radius: 20%;
}
/*#bellaTitle {
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 30px;
    border-radius: 75px;
    border: 2px dashed rgb(236, 83, 236);    background-color: rgba(255, 255, 255, 0.267);

}*/
#LilyTitle {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(165, 134, 223);
    padding: 10px;
    width: 300px;
    height: 30px;
}

a:hover { /* Gabe: Inspiration gotten from Mark's sample page. */
    color: red;
}